.cartContainer {
  row-gap: 3rem;
  padding-top: 3rem;
  animation: fadeIn 0.3s ease-in-out;
  .cartTitle {
    font-size: clamp(1.25rem, 0.317vw + 1.159rem, 1.5rem);
    text-transform: uppercase;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
