:root {
  font-family:
    Helvetica Neue,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #000;
  --color-secondary: #79736d;
  --color-white: #fff;
  --color-border: #000;
  --color-outline: #cccccc;
  --size-border: 0.5px;
  --color-button-disabled: #f3f2f2;
  --color-danger: #df0000;
}

* {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 100%;
  font-weight: 300;
  letter-spacing: 0;
}

a {
  color: currentColor;
  text-decoration: inherit;
}

body {
  min-width: 320px;
  min-height: 100dvh;
  margin: 24px 0;
}
#root {
  display: grid;
  grid-template-rows: 80px 1fr auto;
  gap: clamp(1rem, 1.559vw + 0.596rem, 2rem);
}

main,
header {
  --max-width: 1200px;
  --grid-row: 2 / 3;
  grid-row: var(--grid-row);
  display: grid;
  grid-template-columns: 1fr minmax(0, var(--max-width)) 1fr;
  gap: clamp(1rem, 1.559vw + 0.596rem, 2rem);
  > * {
    grid-column: 2 / 3;
  }
}

header {
  --max-width: 1720px;
  --grid-row: 1 / 2;
  grid-row: 1 / 2;
  align-items: center;
}


input {
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
}

.container {
  --max-width: 1720px;
}

.grid-layout {
  --max-width: 340px;
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(var(--max-width), 100%), 1fr)
  );
}
.grid-layout__cart {
  --max-width: 550px;
}
